{% include "header.html" %}
<section class="container">
    <div class="container-haeding">
        <h1>Our customers</h1>
        <p>Leading companies from around the world are making smart design decisions with UsabilityHub</p>
    </div> 
</section>
<!---FEATURE SECTION START-->
<section class=" container customer-feature">
    <div class="cou-feat">
        <h2>Consumer goods & services</h2>
        <div class="cus-feat-sec flex">
            <img src="/static/images/customer/feature-img1.jpeg" alt="">
            <div class="cus-testi">
                <div class="inner-cus-testi">
                    <img src="/static/images/customer/philips.png" alt="philips">
                    <div class="testi-text">
                        <h3>We use UsabilityHub tests to help us make decisions for various projects. From web and mobile design to marketing activities.</h3>
                    </div>
                    <div class="cus-user-section flex">
                        <img src="/static/images/card-sorting/user.png"  alt="">
                        <div class="cus-name">
                            <h4>Rick van de Ven</h4>
                            <p>Digital Marketing Analyst</p>
                        </div>
                    </div>
                    <a href="#" class="secondary-btn">Read case study <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="cus-feat-companies flex">
            <img src="/static/images/customer/philips.png" alt="">
            <img src="/static/images/customer/unilever.png" alt="">
            <img src="/static/images/customer/staples.png" alt="">
            <img src="/static/images/customer/harrys.png" alt="">
            <img src="/static/images/customer/walmart.png" alt="">
            <img src="/static/images/customer/casper.png" alt="">
        </div>
    </div>
    
    <div class="cou-feat">
        <h2>Consumer goods & services</h2>
        <div class="cus-feat-sec flex">
            <img src="/static/images/customer/feature-img1.jpeg" alt="">
            <div class="cus-testi">
                <div class="inner-cus-testi">
                    <img src="/static/images/customer/philips.png" alt="philips">
                    <div class="testi-text">
                        <h3>We use UsabilityHub tests to help us make decisions for various projects. From web and mobile design to marketing activities.</h3>
                    </div>
                    <div class="cus-user-section flex">
                        <img src="/static/images/card-sorting/user.png"  alt="">
                        <div class="cus-name">
                            <h4>Rick van de Ven</h4>
                            <p>Digital Marketing Analyst</p>
                        </div>
                    </div>
                    <a href="#" class="secondary-btn">Read case study <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="cus-feat-companies flex">
            <img src="/static/images/customer/philips.png" alt="">
            <img src="/static/images/customer/unilever.png" alt="">
            <img src="/static/images/customer/staples.png" alt="">
            <img src="/static/images/customer/harrys.png" alt="">
            <img src="/static/images/customer/walmart.png" alt="">
            <img src="/static/images/customer/casper.png" alt="">
        </div>
    </div>

    <div class="cou-feat">
        <h2>Consumer goods & services</h2>
        <div class="cus-feat-sec flex">
            <img src="/static/images/customer/feature-img1.jpeg" alt="">
            <div class="cus-testi">
                <div class="inner-cus-testi">
                    <img src="/static/images/customer/philips.png" alt="philips">
                    <div class="testi-text">
                        <h3>We use UsabilityHub tests to help us make decisions for various projects. From web and mobile design to marketing activities.</h3>
                    </div>
                    <div class="cus-user-section flex">
                        <img src="/static/images/card-sorting/user.png"  alt="">
                        <div class="cus-name">
                            <h4>Rick van de Ven</h4>
                            <p>Digital Marketing Analyst</p>
                        </div>
                    </div>
                    <a href="#" class="secondary-btn">Read case study <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="cus-feat-companies flex">
            <img src="/static/images/customer/philips.png" alt="">
            <img src="/static/images/customer/unilever.png" alt="">
            <img src="/static/images/customer/staples.png" alt="">
            <img src="/static/images/customer/harrys.png" alt="">
            <img src="/static/images/customer/walmart.png" alt="">
            <img src="/static/images/customer/casper.png" alt="">
        </div>
    </div>

    <div class="cou-feat">
        <h2>Consumer goods & services</h2>
        <div class="cus-feat-sec flex">
            <img src="/static/images/customer/feature-img1.jpeg" alt="">
            <div class="cus-testi">
                <div class="inner-cus-testi">
                    <img src="/static/images/customer/philips.png" alt="philips">
                    <div class="testi-text">
                        <h3>We use UsabilityHub tests to help us make decisions for various projects. From web and mobile design to marketing activities.</h3>
                    </div>
                    <div class="cus-user-section flex">
                        <img src="/static/images/card-sorting/user.png"  alt="">
                        <div class="cus-name">
                            <h4>Rick van de Ven</h4>
                            <p>Digital Marketing Analyst</p>
                        </div>
                    </div>
                    <a href="#" class="secondary-btn">Read case study <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="cus-feat-companies flex">
            <img src="/static/images/customer/philips.png" alt="">
            <img src="/static/images/customer/unilever.png" alt="">
            <img src="/static/images/customer/staples.png" alt="">
            <img src="/static/images/customer/harrys.png" alt="">
            <img src="/static/images/customer/walmart.png" alt="">
            <img src="/static/images/customer/casper.png" alt="">
        </div>
    </div>
</section>
<!---FEATURE SECTION START-->



<!--TESTING SECTION START-->
<div class="testing-section">
    <div class="container testing flex">
        <h2>Start testing today</h2>
        <p>Take the guesswork out of design decisions</p>
        <a href="#" class="primary-btn">Get Started</a>
    </div>
</div>
<!--TESTING SECTION END-->

{% include "footer.html" %}