{% include "header.html" %}
<header class="container guide-heade">
    <h1>Testing guides</h1>
    <p>Short guides on testing methodologies and best practices.</p>
</header>
<section class="container">
    <div class="guide-container flex">
        <a href="#" class="guide-card">
            <img src="/static/images/guides/guide-img1.png" alt="">
            <div class="guide-card-text">
                <p>Introduction to</p>
                <h2>Usability testing</h2>
            </div>
        </a>
        <a href="#" class="guide-card">
            <img src="/static/images/guides/guide-img2.png" alt="">
            <div class="guide-card-text">
                <p>Introduction to</p>
                <h2>Usability testing</h2>
            </div>
        </a>
        <a href="#" class="guide-card">
            <img src="/static/images/guides/guide-img3.png" alt="">
            <div class="guide-card-text">
                <p>Introduction to</p>
                <h2>Usability testing</h2>
            </div>
        </a>
        <a href="#" class="guide-card">
            <img src="/static/images/guides/guide-img4.png" alt="">
            <div class="guide-card-text">
                <p>Introduction to</p>
                <h2>Usability testing</h2>
            </div>
        </a>
        <a href="#" class="guide-card">
            <img src="/static/images/guides/guide-img5.png" alt="">
            <div class="guide-card-text">
                <p>Introduction to</p>
                <h2>Usability testing</h2>
            </div>
        </a>
        <a href="#" class="guide-card">
            <img src="/static/images/guides/guide-img6.png" alt="">
            <div class="guide-card-text">
                <p>Introduction to</p>
                <h2>Usability testing</h2>
            </div>
        </a>
        <a href="#" class="guide-card">
            <img src="/static/images/guides/guide-img7.png" alt="">
            <div class="guide-card-text">
                <p>Introduction to</p>
                <h2>Usability testing</h2>
            </div>
        </a>
        <a href="#" class="guide-card">
            <img src="/static/images/guides/guide-img8.png" alt="">
            <div class="guide-card-text">
                <p>Introduction to</p>
                <h2>Usability testing</h2>
            </div>
        </a>
        <a href="#" class="guide-card">
            <img src="/static/images/guides/guide-img9.png" alt="">
            <div class="guide-card-text">
                <p>Introduction to</p>
                <h2>Usability testing</h2>
            </div>
        </a>
    </div>
</section>
{% include "footer.html" %}