{% include "header.html" %}
    <header class="container flex over-head">
        <h2>The end-to-end remote user testing platform</h2>
        <p>The UsabilityHub platform offers a comprehensive suite of testing tools that helps you uncover design issues early, preventing wasted time, effort and user frustration.</p>
    </header>

    <!-- ----------OVER-BIG FEATURE START------------------- -->
    <div class="over-big-feat">
        <div class="container flex over-feat">
            <div class="over-big-img">
                <img src="/static/images/overview/over-hero1.png" alt="">
            </div>
            <div class="over-big-card flex">
                <img src="/static/images/overview/card-sorting.svg" alt="">
                <h2>Card sorting</h2>
                <p>Discover how to organize your content in a way that makes sense to your audience.</p>
                <a href="#" class="secondary-btn">Learn more <i class="fa-solid fa-arrow-right"></i> </a>
            </div>
        </div>
        <div class="container flex over-feat">
            <div class="over-big-img">
                <img src="/static/images/overview/over-hero2.png" alt="">
            </div>
            <div class="over-big-card flex">
                <img src="/static/images/overview/card-sorting.svg" alt="">
                <h2>Card sorting</h2>
                <p>Discover how to organize your content in a way that makes sense to your audience.</p>
                <a href="#" class="secondary-btn">Learn more <i class="fa-solid fa-arrow-right"></i> </a>
            </div>
        </div>
        <div class="container flex over-feat">
            <div class="over-big-img">
                <img src="/static/images/overview/over-hero3.jpeg" alt="">
            </div>
            <div class="over-big-card flex">
                <img src="/static/images/overview/card-sorting.svg" alt="">
                <h2>Card sorting</h2>
                <p>Discover how to organize your content in a way that makes sense to your audience.</p>
                <a href="#" class="secondary-btn">Learn more <i class="fa-solid fa-arrow-right"></i> </a>
            </div>
        </div>
        <div class="container flex over-feat">
            <div class="over-big-img">
                <img src="/static/images/overview/over-hero4.jpeg" alt="">
            </div>
            <div class="over-big-card flex">
                <img src="/static/images/overview/card-sorting.svg" alt="">
                <h2>Card sorting</h2>
                <p>Discover how to organize your content in a way that makes sense to your audience.</p>
                <a href="#" class="secondary-btn">Learn more <i class="fa-solid fa-arrow-right"></i> </a>
            </div>
        </div>
        <div class="container flex over-feat">
            <div class="over-big-img">
                <img src="/static/images/overview/over-hero5.jpeg" alt="">
            </div>
            <div class="over-big-card flex">
                <img src="/static/images/overview/card-sorting.svg" alt="">
                <h2>Card sorting</h2>
                <p>Discover how to organize your content in a way that makes sense to your audience.</p>
                <a href="#" class="secondary-btn">Learn more <i class="fa-solid fa-arrow-right"></i> </a>
            </div>
        </div>
        <div class="container flex over-feat">
            <div class="over-big-img">
                <img src="/static/images/overview/over-hero6.jpeg" alt="">
            </div>
            <div class="over-big-card flex">
                <img src="/static/images/overview/card-sorting.svg" alt="">
                <h2>Card sorting</h2>
                <p>Discover how to organize your content in a way that makes sense to your audience.</p>
                <a href="#" class="secondary-btn">Learn more <i class="fa-solid fa-arrow-right"></i> </a>
            </div>
        </div>
    </div>
    <!-- ----------OVER-BIG FEATURE END--------------------->

    <!----------------RECRUIT-FROM-START--------------------->
    <section class="recruit-section">
        <div class="container flex recruit">
            <div class="left-recruit">
                <h3>Recruit from</h3>
                <h1>Your own participants</h1>
                <p>Invite your customers to participate in tests or integrate with any participant panel that you’re already using.</p>                
                <ul>
                    <li>
                        <h3><i class="fa-solid fa-infinity"></i> No response limits</h3>
                        <p>Recruit as many of your own participants as you like on any of our plans.</p>
                    </li>
                    <li>
                        <h3><i class="fa-solid fa-rotate-right"></i> Post-test redirects</h3>
                        <p>Integrate with third-party panels by redirecting users to completion URLs.</p>
                    </li>
                    <li>
                        <h3><i class="fa-solid fa-laptop"></i> Multi device support</h3>
                        <p>UsabilityHub tests work on every device with nothing to set up or install.</p>
                    </li>
                    <li>
                        <h3><i class="fa-solid fa-palette"></i> Custom test branding</h3>
                        <p>Provide a seamless experience by customising tests to suit your brand.</p>
                    </li>
                </ul>
                <a href="" class="primary-btn">View plans</a>
            </div>
            <div class="right-recruit">
                <h3>Recruit from</h3>
                <h1>The UsabilityHub panel</h1>
                <p>Order responses from your exact target users in minutes using our integrated 450,000+ participant panel.</p>                
                <ul>
                    <li>
                        <h3><i class="fa-sharp fa-solid fa-crosshairs"></i> Demographic targeting</h3>
                        <p>Choose from over 35 demographic attributes to target, including age, location, gender, and more.</p>
                    </li>
                    <li>
                        <h3><i class="fa-solid fa-shield"></i> Response quality guaranteed</h3>
                        <p>Our manual and automated QA reviews ensure high participant quality.</p>
                    </li>
                    <li>
                        <h3><i class="fa-solid fa-bolt"></i> Lightning-fast fulfilment</h3>
                        <p>Our real-time notification system means you start getting responses in minutes.</p>
                    </li>
                    <li>
                        <h3><i class="fa-solid fa-dollar-sign"></i> Won’t break the bank</h3>
                        <p>Recruiting from our panel starts at $1 per participant and free demographic targeting.</p>
                    </li>
                </ul>
                <a href="#" class="primary-btn">Learn more</a>
            </div>
            </div>
        </div>
    </section>
    <!----------------RECRUIT-FROM-END------------------------->

    <!----------------COMPANIS-START------------------------->
    <section class="companies-section-over">
        <div class="container">
            <h2>The world’s best companies rely on UsabilityHub to make better design decisions.</h2>
            <div class="companies-logo-over flex">
                <img class="logo" src="/static/images/home/amazon.png" alt="">
                <img class="logo" src="/static/images/home/google.png" alt="">
                <img class="logo" src="/static/images/home/taskrabbit.png" alt="">
                <img class="logo" src="/static/images/home/airtable.png" alt="">
                <img class="logo" src="/static/images/home/box.png" alt="">
                <img class="logo" src="/static/images/home/godaddy.svg" alt="">
                <img class="logo" src="/static/images/home/asana.png" alt="">
            </div>
        </div>
        <a href="#" class="primary-btn">Join them today</a>
    </section>
    <!----------------COMPANIES-END------------------------->

    <!--------AAP FEATURE START------>
    <div class="container">
        <div class="appfreature flex">
            <div class="app-card">
                <i class="fa-solid fa-arrows-split-up-and-left"></i>
                <h3>Audience split testing</h3>
                <p>Ensuring each participant on a test is unique to iterate on designs with fresh data every time.</p>
            </div>
            <div class="app-card">
                <i class="fa-solid fa-t"></i>
                <h3>Open text analysis</h3>
                <p>Visualise and tag open text responses to quickly identify common themes in your data.</p>
            </div>
            <div class="app-card">
                <i class="fa-solid fa-chart-line"></i>
                <h3>Funnel analysis</h3>
                <p>Identify which step in an interaction flow causes the greatest drop-offs and user frustration.</p>
            </div>
            <div class="app-card">
                <i class="fa-solid fa-fire-flame-curved"></i>
                <h3>Click visualisations</h3>
                <p>Highlight regions to get exact counts of user clicks or visualise them using heat maps.</p>
            </div>
            <div class="app-card">
                <i class="fa-regular fa-clock"></i>
                <h3>Task durations</h3>
                <p>Spot areas of confusion with granular timing data for each task participants perform.</p>
            </div>
            <div class="app-card">
                <i class="fa-solid fa-box"></i>
                <h3>CSV exports</h3>
                <p>Export your full test data and run in-depth analysis in any tool of your choice.</p>
            </div>
            <div class="app-card">
                <i class="fa-solid fa-filter"></i>
                <h3>Per questions filters</h3>
                <p>Drill down into response data by filtering on participants' answers and task completions.</p>
            </div>
            <div class="app-card">
                <i class="fa-solid fa-laptop"></i>
                <h3>Device targeting</h3>
                <p>Add validity by specifying which devices tests can be taken on, more closely emulating your design's intended platform.</p>
            </div>
            <div class="app-card">
                <i class="fa-regular fa-eye-slash"></i>
                <h3>Logic</h3>
                <p>Ask questions based on how participants answered previous questions.</p>
            </div>
            <div class="app-card">
                <i class="fa-solid fa-globe"></i>
                <h3>Translations</h3>
                <p>Present the test-taking interface to testers in any of the 30 languages we support.</p>
            </div>
            <div class="app-card">
                <i class="fa-sharp fa-solid fa-crosshairs"></i>
                <h3>Custom variables</h3>
                <p>Pass variables into your self-recruited test by using query strings in your custom URL.</p>
            </div>
            <div class="app-card">
                <i class="fa-solid fa-list"></i>
                <h3>Multi-section tests</h3>
                <p>Combine different test-taking methodologies and section types into a single test.</p>
            </div>
        </div>
    </div>
    <!--------AAP FEATURE END------>
    {% include "footer.html" %}
