{% include "header.html" %}
<!-- ============HEADER START============ -->
<header class="header-panel flex">
    <div class="head-first-img">
        <img src="/static/images/panel/header-back1.png" alt="">
    </div>
    <div class="head-contant flex">
        <h1>UsabilityHub panel</h1>
        <p>Get on-demand access to 450,000+ panelists. Our panel is standing by to test your designs in real time.</p>
        <a href="#" class="primary-btn">Get started</a>
    </div>
    <div class="head-second-img">
        <img src="/static/images/panel/header-back2.png" alt="">
    </div>
</header>
<!-- ============HEADER END============ -->

<!-- ============MATRICS START============ -->
<section class="panel-matrics">
    <div class="container flex matrics">
        <div class="martic-section">
            <h2>450,000+</h2>
            <p>Panelists</p>
        </div>
        <div class="martic-section">
            <h2>35+</h2>
            <p>Demographic attributes</p>
        </div>
        <div class="martic-section">
            <h2>100+</h2>
            <p>Countries covered</p>
        </div>
        <div class="martic-section">
            <h2>~5hr</h2>
            <p>Average turn-around</p>
        </div>
    </div>
</section>
<!-- ============MATRICS END============ -->

<!-- ============FEATURE START============ -->
<section class="panel-feature">
    <div class="panel-feature-section flex">
        <div class="panle-feature-img">
            <img src="/static/images/panel/feature-img1.png" alt="">
        </div>
        <div class="panle-feature-contant">
            <h2>High quality responses</h2>
            <p>We know how important it is to provide real, value-added insight. That’s why we have a dedicated team to review your data and make sure it meets our rigid standards. We’d like to think we’re picky, but if you’re not satisfied with any given response, we’ll replace it.</p>
        </div>
    </div>
    <div class="panel-feature-section flex">
        <div class="panle-feature-img">
            <img src="/static/images/panel/feature-img2.png" alt="">
        </div>
        <div class="panle-feature-contant">
            <h2>High quality responses</h2>
            <p>We know how important it is to provide real, value-added insight. That’s why we have a dedicated team to review your data and make sure it meets our rigid standards. We’d like to think we’re picky, but if you’re not satisfied with any given response, we’ll replace it.</p>
        </div>
    </div>
    <div class="panel-feature-section flex">
        <div class="panle-feature-img">
            <img src="/static/images/panel/feature-img3.png" alt="">
        </div>
        <div class="panle-feature-contant">
            <h2>High quality responses</h2>
            <p>We know how important it is to provide real, value-added insight. That’s why we have a dedicated team to review your data and make sure it meets our rigid standards. We’d like to think we’re picky, but if you’re not satisfied with any given response, we’ll replace it.</p>
        </div>
    </div>
    <div class="panel-feature-section flex">
        <div class="panle-feature-img">
            <img src="/static/images/panel/feature-img4.png" alt="">
        </div>
        <div class="panle-feature-contant">
            <h2>High quality responses</h2>
            <p>We know how important it is to provide real, value-added insight. That’s why we have a dedicated team to review your data and make sure it meets our rigid standards. We’d like to think we’re picky, but if you’re not satisfied with any given response, we’ll replace it.</p>
        </div>
    </div>
</section>
<!-- ============FEATURE END============ -->

<!-- ============QUESTION START============ -->
<section class=" container panel-question">
    <div class="panel-question-heading">
        <h2>Frequently asked questions</h2>
    </div>
    <div class="panel-contant flex">
        <div class="qa">
            <div class="qa-section">
                <h4>How are responses purchased?</h4>
                <p>You can pay for each order individually, or purchase a credit pack which can be used to order responses from the UsabilityHub Panel. Visa, MasterCard and AMEX cards are accepted.</p>
            </div>
            <div class="qa-section">
                <h4>Can I bring my own participants?</h4>
                <p>Yes! Ordering from the UsabilityHub Panel is optional, and you can invite your own audience to participate by sharing a test’s recruitment link and recruiting your own participants is free.</p>
            </div>
        </div>    
        <div class="qa">
            <div class="qa-section">
                <h4>Do I need to subscribe to access the panel?</h4>
                <p>No, our panel is billed separately and can be used with or without a subscription to our platform. You can learn more about <a href="#">our plans here.</a></p>
            </div>
            <div class="qa-section">
                <h4>How fast will I get responses?</h4>
                <p>Orders for the USA, Canada, the UK, Australia, India, and the Netherlands are completed fastest. All orders are given an ETA before placement. If our internal panel doesn’t cover the demographics or volume of participants you require we can work with our panel partners to source them. Partner panel pricing varies, so <a href="#">contact us</a> for details.</p>
            </div>
        </div> 
    </div>   
</section>
<!-- ============QUESTION END============ -->

<!-- ============BRAND START============ -->
<div class="brand-section">
    <div class="container ">
        <div class="main-brand flex">
            <div class="brand-upper flex">
                <h1>Join the world’s leading brands</h1>
                <p>Over 100,000 designers, marketers, researchers, and UX professionals use UsabilityHub to take the guess work out of design decisions.</p>
                <a href="#" class="primary-btn">Try it for free</a>
            </div>
        </div>
        <div class="brand-down flex">
            <img src="/static/images/card-sorting/amazon.svg" alt="">
            <img src="/static/images/card-sorting/google.svg" alt="">
            <img src="/static/images/card-sorting/airtable.svg" alt="">
            <img src="/static/images/card-sorting/godaddy.svg" alt="">
            <img src="/static/images/card-sorting/asana.svg" alt="">
            <img src="/static/images/card-sorting/box.svg" alt="">
        </div>
    </div>
</div>
<!-- ============BRAND END============ -->

{% include "footer.html" %}