{% include "header.html" %}
    <!--------PROTOTYPE CARD START------------>
    <div class="container">
        <div class="card-main flex">
            <div class="feature-card-pro flex">
                <img src="/static/images/preference/preference.svg" alt="preference test">
                <h1>Preference test</h1>
                <p>Participants choose from multiple design options in response to your specific question.</p>
                <a href="#" class="primary-btn">Get started</a>
            </div>
        </div>
    </div>
    <!--------PROTOTYPE CARD END------------>


    <!-------PROTOTYPE FEATURE START----------->
    <div class="card-hero">
        <div class="container flex card-feature">
            <div class="card-feature-img">
                <img src="/static/images/prototype/proto-back1.png" alt="">
            </div>
            <div class="card-feature-discription">
                <div class="card-feature-upper">
                    <h2>Understand how users group information</h2>
                    <p>Base your design decisions on data, not guesswork. Discover how your audience categorizes and labels your content.</p>
                </div>
            </div>
        </div>
        <div class="container flex card-feature">
            <div class="card-feature-img">
                <img src="/static/images//prototype/proto-back2.png" alt="">
            </div>
            <div class="card-feature-discription">
                <div class="card-feature-upper">
                    <h2>Understand how users group information</h2>
                    <p>Base your design decisions on data, not guesswork. Discover how your audience categorizes and labels your content.</p>
                </div>
            </div>
        </div>
        <div class="container flex card-feature">
            <div class="card-feature-img">
                <img src="/static/images/prototype/proto-back3.png" alt="">
            </div>
            <div class="card-feature-discription">
                <div class="card-feature-upper">
                    <h2>Understand how users group information</h2>
                    <p>Base your design decisions on data, not guesswork. Discover how your audience categorizes and labels your content.</p>
                </div>
            </div>
        </div>
        <div class="container flex card-feature">
            <div class="card-feature-lower">
                <div class="card-feature-img lst-card">
                    <a href="#" class="lst-card-img red-back-card">
                        <img src="/static/images/preference/feture-card-img.png" alt="">
                        <div class="lst-card-text">
                            <h4>introduction to</h4>
                            <h2>Preference testing</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-feature-discription">
                <div class="card-feature-upper">
                    <h2>Understand how users group information</h2>
                    <p>Card sorting is a well-established UX research method used to define navigation structures, organize product categories, and build content taxonomies. Learn all about this research method and how to run a card sort test with our comprehensive guide.</p>
                    <a href="#" class="secondary-btn">Read our guide <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-------PROTOTYPE FEATURE END----------->

    <!------- EXAMPLE START----------->
    <div class="container card-exa-section">
        <div class="card-example-head">
            <h2>See what you can create</h2>
            <a href="#" class="secondary-btn">See more example <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="card-example-area flex">
            <a href="#" class="example-card ex-card pro-exa-card">
                <h3>Can users complete a task in my software interface?</h3>
            </a>
            <a href="#" class="example-card ex-card pro-exa-card">
                <h3>Can users complete a task in my software interface?</h3>
            </a>
            <a href="#" class="example-card ex-card pro-exa-card">
                <h3>Can users complete a task in my software interface?</h3>
            </a>
            <a href="#" class="example-card ex-card pro-exa-card">
                <h3>Can users complete a task in my software interface?</h3>
            </a>
        </div>
    </div>
    <!------- EXAMPLE END----------->

    <!-------PROTOTYPE SUB-FEATURE START----------->
        <div class="container flex card-sub-features">
            <a href="#" class="sub-card flex">
                <img src="/static/images/overview/click.svg" alt="">
                <h3>Prototype testings</h3>
                <p>Test how people navigate interactive Figma prototypes.</p>
            </a>
            <a href="#" class="sub-card flex">
                <img src="/static/images/preference/prototype.svg" alt="">
                <h3>Prototype testings</h3>
                <p>Test how people navigate interactive Figma prototypes.</p>
            </a>
            <a href="#" class="sub-card flex">
                <img src="/static/images/overview/time.svg" alt="">
                <h3>Prototype testings</h3>
                <p>Test how people navigate interactive Figma prototypes.</p>
            </a>
            <a href="#" class="sub-card flex">
                <img src="/static/images/overview/Design.svg" alt="">
                <h3>Prototype testings</h3>
                <p>Test how people navigate interactive Figma prototypes.</p>
            </a>
            <a href="#" class="sub-card flex">
                <img src="/static/images/overview/card-sorting.svg" alt="">
                <h3>Card sorting</h3>
                <p>Discover how to organize your content in a way that makes sense to your audience.</p>
            </a>
        </div>
    <!-------PROTOTYPE SUB-FEATURE END----------->

    <!------- TESTIMONIAL START----------->
    <div class="container card-testi">
        <img src="/static/images/prototype/mixcloud.png" alt="">
        <h2>UsabilityHub helped us quickly test out new Mixcloud designs so we could get a sense of what people appreciated before getting into code.</h2>
        <img src="/static/images/prototype/user.png" alt="">
        <h3>Nico Perez</h3>
        <p>Co-Founder</p>
        <a href="#" class="primary-btn">Get started</a>
    </div>
    <!------- TESTIMONIAL END----------->

    <!------- BRAND START----------->
    <div class="brand-section">
        <div class="container ">
            <div class="main-brand flex">
                <div class="brand-upper flex">
                    <h1>Join the world’s leading brands</h1>
                    <p>Over 100,000 designers, marketers, researchers, and UX professionals use UsabilityHub to take the guess work out of design decisions.</p>
                    <a href="#" class="primary-btn">Try it for free</a>
                </div>
            </div>
            <div class="brand-down flex">
                <img src="/static/images/card-sorting/amazon.svg" alt="">
                <img src="/static/images/card-sorting/google.svg" alt="">
                <img src="/static/images/card-sorting/airtable.svg" alt="">
                <img src="/static/images/card-sorting/godaddy.svg" alt="">
                <img src="/static/images/card-sorting/asana.svg" alt="">
                <img src="/static/images/card-sorting/box.svg" alt="">
            </div>
        </div>
    </div>
    <!------- BRAND END----------->
    {% include "footer.html" %}
