{% include "header.html" %}
<!-- -------header start----------- -->
<header class="container">
    <div class="price-header flex">
        <div class="left-pri">
            <h1>Platform pricing</h1>
            <p>Our platform is priced to suit teams of all sizes. Collecting responses from our participant panel is priced separately on all plans—<a href="#">see panel pricing below</a>. For more detailed information about billing please <a href="#">see our help center</a>.</p>
        </div>
        <img src="/static/images/pricing/header-img.png" alt="">
    </div>
</header>
<!-- -------header end----------- -->

<!-- -------pricing btn-content start----------- -->
<section class="container upper-btn flex">
    <div class="btn-text flex">
        <div id="price-toggle" onclick="changeText()">
            <i class="indicator"></i>            
        </div>
        <h4>Pay annually and save!</h4>
    </div>
    <div class="separately">
        Responses from our participant panel are <a href="#">priced separately</a> on all plans
    </div>
</section>
<!-- -------pricing btn-content end----------- -->

<!-- -------pricing start----------- -->
<section class="container flex pricing-section">
    <div class="price-container">
        <h3>Free</h3>
        <div class="priblock flex">
            <div class="price-text">US $</div>
            <div class="big-amt">0</div>
            <div class="price-text"></div>
        </div>
        <div class="collaborators">
            <h5>3 collaborators included</h5>
            <h6>No additional collaborators</h6>
        </div>
        <a href="#" class="medium-btn primary-btn">Sign up</a>
        <div class="price-advantage">
            <p>Free plan includes:</p>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Up to 3 collaborators</p></div>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Tests up to 2 mins long</p></div>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Unlimited self-recruited responses</p></div>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Unlimited active tests</p></div>
            <div class="flex inclu-advantage">
                <i class="fa-solid fa-check"></i> 
                <div class="lst-price-ancher">
                    <p>Panel access</p>
                    <a href="#">panel responses priced separately</a>
                </div>
            </div>
        </div>
    </div>
    <div class="price-container">
        <h3>Free</h3>
        <div class="priblock flex">
            <div class="price-text">US $</div>
            <div class="big-amt">89</div>
            <div class="price-text">Per month</div>
        </div>
        <div class="collaborators">
            <h5>3 collaborators included</h5>
            <h6>No additional collaborators
            </h6>
        </div>
        <a href="#" class="medium-btn primary-btn">Sign up</a>
        <div class="price-advantage">
            <p>Free plan includes:</p>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Up to 3 collaborators</p></div>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Tests up to 2 mins long</p></div>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Unlimited self-recruited responses</p></div>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Unlimited active tests</p></div>
            <div class="flex inclu-advantage">
                <i class="fa-solid fa-check"></i> 
                <div class="lst-price-ancher">
                    <p>Panel access</p>
                    <a href="#">panel responses priced separately</a>
                </div>
            </div>
        </div>
    </div>
    <div class="price-container">
        <h3>Free</h3>
        <div class="priblock flex">
            <div class="price-text">US $</div>
            <div class="big-amt">199</div>
            <div class="price-text">Per month</div>
        </div>
        <div class="collaborators">
            <h5>3 collaborators included</h5>
            <h6>No additional collaborators
            </h6>
        </div>
        <a href="#" class="medium-btn primary-btn">Sign up</a>
        <div class="price-advantage">
            <p>Free plan includes:</p>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Up to 3 collaborators</p></div>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Tests up to 2 mins long</p></div>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Unlimited self-recruited responses</p></div>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Unlimited active tests</p></div>
            <div class="flex inclu-advantage">
                <i class="fa-solid fa-check"></i> 
                <div class="lst-price-ancher">
                    <p>Panel access</p>
                    <a href="#">panel responses priced separately</a>
                </div>
            </div>
        </div>
    </div>
    <div class="price-container">
        <h3>Free</h3>
        <div class="priblock flex">
            <div class="price-text"></div>
            <div class="big-amt">0</div>
            <div class="price-text"></div>
        </div>
        <div class="collaborators">
            <h5>3 collaborators included</h5>
            <h6>No additional collaborators
            </h6>
        </div>
        <a href="#" class="medium-btn primary-btn">Sign up</a>
        <div class="price-advantage">
            <p>Free plan includes:</p>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Up to 3 collaborators</p></div>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Tests up to 2 mins long</p></div>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Unlimited self-recruited responses</p></div>
            <div class="flex inclu-advantage"><i class="fa-solid fa-check"></i> <p>Unlimited active tests</p></div>
            <div class="flex inclu-advantage">
                <i class="fa-solid fa-check"></i> 
                <div class="lst-price-ancher">
                    <p>Panel access</p>
                    <a href="#">panel responses priced separately</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -------pricing end----------- -->

<!-- -------include plans start------------->
<div class="include-plans">
    <h2>All plans include</h2>
    <div class="container all-plans flex">
        <div class="plan-card">
            <img src="/static/images/pricing/prototype.svg" alt="">
            <p>Prototype tests</p>
        </div>
        <div class="plan-card">
            <img src="/static/images/pricing/prototype.svg" alt="">
            <p>Prototype tests</p>
        </div>
        <div class="plan-card">
            <img src="/static/images/pricing/prototype.svg" alt="">
            <p>Prototype tests</p>
        </div>
        <div class="plan-card">
            <img src="/static/images/pricing/prototype.svg" alt="">
            <p>Prototype tests</p>
        </div>
        <div class="plan-card">
            <img src="/static/images/pricing/prototype.svg" alt="">
            <p>Prototype tests</p>
        </div>
        <div class="plan-card">
            <img src="/static/images/pricing/prototype.svg" alt="">
            <p>Prototype tests</p>
        </div>
        <div class="plan-card">
            <img src="/static/images/pricing/prototype.svg" alt="">
            <p>Prototype tests</p>
        </div>
        <div class="plan-card">
            <img src="/static/images/pricing/prototype.svg" alt="">
            <p>Prototype tests</p>
        </div>
    </div>
</div>
<!-- -------include plans end------------->

<!-- -------timing start------------->
<div class="container">
    <div class="timing-heade">
        <h2>Panel pricing</h2>
        <p>Our 400K+ participant panel lets you get responses from your target demographic in minutes. No hidden fees.</p>
    </div>
    <div class="timing-type flex">
        <div class="time-con-card">
            <img src="/static/images/pricing/panel-price1.png" alt="">
            <h4>Guaranteed high quality panelist responses</h4>
        </div>
        <div class="time-con-card">
            <img src="/static/images/pricing/panel-price1.png" alt="">
            <h4>Guaranteed high quality panelist responses</h4>
        </div>
        <div class="time-con-card">
            <img src="/static/images/pricing/panel-price1.png" alt="">
            <h4>Guaranteed high quality panelist responses</h4>
        </div>
    </div>
    <div class="responce-time flex">
        <div class="left-responce">
            <h2>How much does it cost to order responses?</h2>
            <h3>Starting at USD $1 per complete,</h3>
            <p>panel pricing is based on the duration of your tests.</p>
            <p>The longer the test, the more each response costs. For example:</p>
        </div>
        <div class="right-responce flex">
            <div class="time-card">
                <h2>Short tests</h2>
                <p>5 questions, 1-3 minutes long</p>
                <img src="/static/images/pricing/watch1.svg" alt="">
                <h3>$2 per complete</h3>    
            </div>
            <div class="time-card">
                <h2>Short tests</h2>
                <p>5 questions, 1-3 minutes long</p>
                <img src="/static/images/pricing/watch1.svg" alt="">
                <h3>$2 per complete</h3>
            </div>
            <div class="time-card">
                <h2>Short tests</h2>
                <p>5 questions, 1-3 minutes long</p>
                <img src="/static/images/pricing/watch1.svg" alt="">
                <h3>$2 per complete</h3>
            </div>
        </div>
    </div>
</div>
<!-- -------timing end------------->

<!-- -------frequently start------------->
<div class="frequent-penal">
    <h2>Frequently asked questions</h2>
    <div class="container frequent-question-section flex">
        <div class="left-questioning">
            <div class="questions">
                <h4>Are panel responses included in my subscription?</h4>
                <p>No. The UsabilityHub panel is priced separately. You can pay to recruit from our panel as-you-go or you can purchase bulk panel credits at a discount to use as you need. Recruiting your own users, however, is free.</p>
            </div>
            <div class="questions">
                <h4>How does the Free plan work?</h4>
                <p>The Free plan has no ongoing fees. It includes a limited feature set and you can only run tests up to 2 minutes long. You can still recruit from the panel or your own audience and use all test types.</p>
            </div>
            <div class="questions">
                <h4>What’s included in the Enterprise plan?</h4>
                <p>The Enterprise plan is suited to companies with sophisticated procurement needs. We can provide SLAs, perform security audits, review and implement custom terms, and make arrangements for larger teams. Please contact sales to schedule a short exploratory conversation.</p>
            </div>
            <div class="questions">
                <h4>Is UsabilityHub GDPR compliant?</h4>
                <p>Yes. As a Data Controller, UsabilityHub's privacy policy affords all users of our software (not only EU citizens) the rights stipulated by the GDPR. You may also sign our Data Processing Schedule to ensure your own GDPR compliance when using UsabilityHub as a Data Processor. Please visit this article for more information.</p>
            </div>
        </div>
        <div class="right-questioning">
            <div class="questions">
                <h4>Is there a minimum subscription term?</h4>
                <p>You can subscribe to the Pro plan and Basic plan on a monthly or annual basis. When paying annually you can add collaborators at any time and will be charged a pro-rata amount for their seat. The Free plan has no subscription term or ongoing fees.</p>
            </div>
            <div class="questions">
                <h4>What are credits?</h4>
                <p>Credits can be used to recruit participants from the UsabilityHub panel. You can purchase credits and store them on your account to use as needed. They never expire and there are discounts when purchasing in bulk.</p>
            </div>
            <div class="questions">
                <h4>What are the payment options?</h4>
                <p>Secure payments with Visa, Mastercard, and AMEX. Manual invoicing is available on Annual and Enterprise plans. Contact us for details.</p>
            </div>
        </div>
    </div>
</div>
<!-- -------frequently end------------->

<!-- -------Usability-profits start------------->
<section class="container usabilti-good">
    <h2>UsabilityHub for good</h2>
    <div class="profits-good-panel flex">
        <div class="profits-conntainer flex">
            <img src="/static/images/pricing/good-icon1.svg" alt="">
            <div class="good-content flex">
                <h3>For students and educators</h3>
                <p>We’re big believers in the value of research in design education so we provide a 25% discount on our subscriptions for all students and educators.</p>
                <a href="#" class="primary-btn">Contact us</a>
            </div>
        </div>
        <div class="profits-conntainer flex">
            <img src="/static/images/pricing/good-icon1.svg" alt="">
            <div class="good-content flex">
                <h3>For students and educators</h3>
                <p>We’re big believers in the value of research in design education so we provide a 25% discount on our subscriptions for all students and educators.</p>
                <a href="#" class="primary-btn">Contact us</a>
            </div>
        </div>
    </div>
    <div class="profits-good-panel"></div>
</section>
<!-- -------Usability-profits end------------->

<!-- -------scaling start------------->
<section class="scaling-section">
    <div class="container scaling-container">
        <img src="/static/images/pricing/usa-icon.png" alt="UsabilityHub icon">
        <h2>Start scaling your user research today.
        </h2>
        <p>Take the guesswork out of design decisions.</p>
        <div class="scal-bts flex">
            <a href="#" class="primary-btn">Sign up</a>
            <h3>Or</h3>
            <a href="#" class="primary-btn">Contact us</a>
        </div>
    </div>
</section>
<!-- -------scaling end------------->


{% include "footer.html" %}